.basket-page{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.basket-left {
    width: calc(100% - 506px);
}
.basket-right {
    position: sticky;
    top: 20px;
    width: 405px;
    background: #FFFFFF;
    box-shadow: 0px -4px 12px rgba(23, 40, 83, 0.04);
    padding: 17px;
    box-sizing: border-box;
}
.basket-right h3 {
    letter-spacing: -0.016em;
    font-size: 20px;
    color: #172853;
    line-height: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #EDF2FF;;
}
.basket-right span {
    font-size: 14px;
    line-height: 18px;
    display: block;
    margin: 24px 0;
}
.basket-right p {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.016em;
    margin-bottom: 30px;
}
.basket-btn {
    background: #4376FB;
    border-radius: 6px;
    padding: 16px;
    width: 100%;
    box-sizing: border-box;
    color: #fff;
    font-size: 16px;
    line-height: 22px;
    border: none;
    outline: none;
    cursor: pointer;
}
.basket-modal {
    padding-top: 100px;
    color: #262932;
    text-align: center;
}
.basket-modal h2 {
    font-size: 24px;
    line-height: 28px;
}
.basket-modal p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 60px;
}