.categ-item {
    display: block;
    width: calc(100% / 4 - 35px);
    background: #FFFFFF;
    border-radius: 8px;
    margin-bottom: 35px;
}
.categ-img {
    height: 218px;
}
.categ-img img{
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}
.categ-info {
    padding: 18px 14px;
    box-sizing: border-box;
}
.categ-info h3{
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    color: #172853;
}
.categ-info p {
    text-overflow:ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #B0B3BC;
    font-size: 12px;
    line-height: 14px;
}