.footer {
    background: #FFFFFF;
    padding: 32px 0;
}
.footer-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-logo {
    display: block;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    color: #172853;
}
.footer-logo:hover {
    color: #172853;
}
.icons i {
    margin-right: 28px;
    color: #172853;
    font-size: 20px;
    transition: .3s;
    cursor: pointer;
}
.icons i:hover {
    color: #4376FB;
}
.footer-inner p a{
    margin: 0;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: -0.016em;
    color: #172853;
}