.header {
    background: #F8F8FB;
    padding: 44px 0;
}
.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-main {
    margin-right: 73px;
    font-size: 16px;
    color: #172853;
}
.header-main:hover {
    color: #172853;
}
.header-basket {
    color: #B0B3BC;
    font-size: 16px;
}
.header-center {
    font-weight: bold;
    font-size: 32px;
    margin: 0;
}
.header-right {
    display: flex;
}
.header-input {
    background: #FFFFFF;
    border-radius: 6px;
    padding: 11px;
    margin-right: 67px;
}
.header-input button {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}
.header-input input {
    border: none;
    outline: none;
    background-color: transparent;
}
.header-input i {
    color: #B0B3BC;
    font-size: 17px;
    margin-right: 9px;
}
.header-input input::placeholder {
    color: #B0B3BC;
    font-size: 16px;
}
.header-login {
    display: flex;
    align-items: center;
    font-size: 17px;
    cursor: pointer;
    letter-spacing: -0.016em;
}
.header-login i {
    font-size: 24px;
    margin-left: 17px;
}
.modal-notify {
    margin: 0;
}
.space-between {
    display: flex;
    justify-content: space-between;
    padding-bottom: 17px;
    align-items: center;
    border-bottom: 1px solid #EDF2FF;
    margin-bottom: 20px;
}
.text-danger {
    color: #FF5050;
    cursor: pointer;
}