.modal-window {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-content {
    background-color: #fff;
    width: 406px;
    box-shadow: 0px -4px 12px rgba(23, 40, 83, 0.04);
    border-radius: 8px;
    padding: 40px 30px 26px;
    box-sizing: border-box;
}
.modal-content h4 {
    font-size: 17px;
    text-align: center;
    color: #172853;
    font-weight: 500;
    letter-spacing: -0.016em;
    margin-bottom: 40px;
}
.log-input {
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid #EDF2FF;
    margin-bottom: 20px;
    padding-bottom: 24px;
}
.log-input:focus {
    border-bottom: 1px solid #4376FB;
}
.log-input::placeholder {
    color: #B0B3BC;
    font-size: 16px;
    line-height: 24px;
}
.login-btn {
    background: #4376FB;
    border-radius: 6px;
    width: 100%;
    margin-top: 20px;
    color: #fff;
    cursor: pointer;
    outline: none;
    padding: 16px;
    font-size: 16px;
    border: none;
}
.login-error {
    color: #FF5050;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
}
.login-btn:disabled {
    cursor: not-allowed;
    color: rgba(0, 0, 0, 0.25);
    background: #d9d9d9;
}