.product-item {
    width: calc(100% / 3 - 42px);
    display: flex;
    background: #FFFFFF;
    border-radius: 8px;
    padding: 17px;
    box-sizing: border-box;
    position: relative;
    justify-content: space-between;
    margin-bottom: 34px;
}
.product-img {
    width: 124px;
}
.product-img img {
    width: 100%;
    object-fit: cover;
}
.product-info h4 {
    color: #172853;
}
.product-info  { 
    font-size: 14px;
    line-height: 18px;
}
.product-info h3 {
    color: #B0B3BC;
    margin: 13px 0;
}
.modal-title {
    font-size: 20px;
    line-height: 24px;
    color: #172853;
    margin-top: 20px;
    margin-bottom: 24px;
}
.modal-description {
    font-size: 14px;
    line-height: 20px;
    color: #172853;
}
.counter {
    margin-top: 40px;
    display: flex;
    align-items: center;
}
.counter span {
    margin: 0 15px;
}
.counter-btn {
    border-radius: 50%;
    width: 31px;
    height: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #172853;
    color: #172853;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}