
.app {
    background: #F8F8FB;
}
.container {
    width: 90%;
    margin: 0 auto;
}
.title {
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    color: #172853;
    margin-bottom: 50px;
}
.wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.modal-window.hide {
    display: none;
}
.ReactModal__Overlay {
    background-color: rgba(0,0,0,0.8) !important;
}
.question {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0px 8px;
    background-color: #fff;
    background: #EDEFF6;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 31px;
    height: 31px;
    font-size: 20px;
    font-weight: bold;
    color: #B0B3BC;
    cursor: pointer;
}
.question.remove {
    left: 0;
    border-radius: 8px 0;
}