.saved-item {
    width: 100%;
    display: flex;
    background: #FFFFFF;
    border-radius: 8px;
    position: relative;
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 34px;
}
.saved-info {
    padding: 33px 40px;
    box-sizing: border-box;
}
.saved-img {
    width: 100px;
}
.saved-img img {
    width: 100%;
    object-fit: cover;
}
.saved-title {
    font-size: 14px;
    line-height: 18px;
    color: #172853;
}
.saved-bottom {
    display: flex;
    align-items: center;
}
.saved-bottom h3 {
    margin: 0;
    color: #B0B3BC;
    font-size: 14px;
    line-height: 18px;
}
.saved-bottom h4 {
    margin: 0;
    color: #172853;
    font-size: 14px;
    line-height: 18px;
}
.saved-counter {
    margin: 0 45px;
}