@font-face {
  font-family: "MuseoSansCyrlThin"; 
  src: url("./fonts/MuseoSansCyrl.otf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
}
@font-face{
  font-family: "MuseoSansCyrlLight";
  src: url("./fonts/MuseoSansCyrl_0.otf") format("truetype");
  font-style: normal; 
  font-weight: normal; 
} 
@font-face{
  font-family: "MuseoSansCyrlRegular";
  src: url("./fonts/MuseoSansCyrl_1.otf") format("truetype");
  font-style: normal; 
  font-weight: normal; 
} 
@font-face{
  font-family: "MuseoSansCyrlBold";
  src: url("./fonts/MuseoSansCyrl_2.otf") format("truetype");
  font-style: normal; 
  font-weight: normal; 
} 
@font-face{
  font-family: "MuseoSansCyrlBlack";
  src: url("./fonts/MuseoSansCyrl_3.otf") format("truetype");
  font-style: normal; 
  font-weight: normal; 
} 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  color: #172853;
	vertical-align: baseline;
  font-family: 'MuseoSansCyrlRegular';
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}